@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #2eabc5;
	--color-secondary: #d3d3d3;
	--color-background: #f5f5f5;
	--color-text: #001f3e;
}

body {
  background:  #0d1117;
}

.theme-dark {
	--color-primary: #2eabc5;
	--color-secondary: #62626c;
	--color-background: #001f3e;
	--color-text: #e4e4e7;
}

#app {
	margin: 0;
	padding: 0;
	font-weight: normal;
	overflow: hidden;
}

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
	padding: 3px;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #010409;
}

::-webkit-scrollbar-thumb {
	background: #10161f;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #1c222e;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

@media (min-width: 1024px) {
	body {
		display: flex;
	}

	#app {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0 2rem;
	}
}
